# API Configuration
VITE_API_URL=http://localhost:3000
VITE_API_KEY=your_api_key_here

# App Configuration
VITE_APP_NAME=Jira Timesheet
VITE_APP_ENV=development

# JIRA Configuration
VITE_JIRA_HOST=my1min.atlassian.net
VITE_JIRA_EMAIL=nirangad@99x.io
VITE_JIRA_API_TOKEN=ATATT3xFfGF0tU4_DsGJfg5AFzx5brrlTXkBvZApN-OXrQYaCXCMzhFcarPuAERu6vGiMbSWRd1RznLAAtNnOjNWjlw--b7ZuvQhhT8J7Sc7eg27YOfFCnR6lSyahqABU3NeRkI6Vt31XnhnNrFdtmnFRxyNvD4FLOEEn-8om3hzsim7Tubh5JU=B8A6397E
VITE_JIRA_PROJECT_KEY=M1M